 <!--Footer-->
 	<th:block th:fragment="footer">
    <footer  class="page-footer center-on-small-only  pt-0 mt-0 wow fadeIn" data-wow-delay="0.2s">

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2018 Copyright:
                <a href="https://www.sviip.com"> albertZhang </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/adm/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/adm/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/adm/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/adm/js/mdb.min.js"></script>
    
    <!-- lodash -->
    <script type="text/javascript" src="/adm/js/lodash.min.js"></script>
    
    <script>
    		new WOW().init();
    </script>
</th:block>
