<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<title>访问资源不存在</title>
<th:block th:include="fragments/htmlhead"></th:block>
<style>
	main {
    margin-top:3rem;
}

.err-404-navigation-links li {
	display:inline-block;
}

.err-404-navigation-links li:not(:last-child) {
	margin-right: 10px;
}
</style>
</style>
<body class="error404 mdb-skin-custom currency-eur">


    <!--Main layout-->
    <main class="container pt-3">
        <!--Main layout-->
            <!-- First row -->
            <div class="row">
                <div class="col-md-6 float-md-none mx-auto">
                    <img src="/adm/img/404_mdb.png" alt="Error 404" class="img-fluid wow fadeIn" >
                </div>
            </div>
            <!-- /.First row -->
        
            <!-- Second row -->
            <div class="row mt-3">
                <div class="col-md-12 text-center mb-r">
                    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s" >Oops! 这条路似乎不通</h2>
                    <p class="wow fadeIn" data-wow-delay="0.4s">回到<a href="/admin"> 首页 </a>或者点击下面的登录按钮</p>
        
                    <ul class="err-404-navigation-links wow fadeIn" data-wow-delay="0.6s" >
                                     <li><a href="/admin/login">登录</a></li>
        -                 <li><a href="#"> 联系管理员 </a></li>
        -                 <li><a href="#"> 技术支持 </a></li>
                                </ul>
                </div>
            </div>
            <!-- /.Second row -->
        
        <!--/.Main layout-->
        </main>
    <!--Main layout-->
    		 <div th:replace="fragments/footer :: footer">footer</div>
    		 <script>
    		 	new WOW.init();
    		 </script>
</body>
</html>